@import url("https://fonts.googleapis.com/css?family=Orbitron");

.App {
  text-align: center;
}

body {
  background-color: lightgrey;
  font-family: Orbitron;
}

.score {
  font-size: 14vw;
  text-align: center;
  background-color: black;
  color: white;
  border-radius: 0.8vw;
}

.serve{
  display: flex;
  font-size: 2vw;
  flex-direction: column;
  justify-content: center;
}

.set-row{
  display: flex;
  justify-content:center;
  width: 100%;
  padding: 1%;
  padding-top: 1%;
}

.set-board{
  display: inline-block;
  justify-content: center;
  background-color: black;
  margin-right: 1%;
  margin-left: 1%;
  color: white;
  font-size: 1vw;
  width: 8%;
  border-radius: 0.3vw;
}

.set-score{
  background-color: black;
  color: white;
  font-size: 1.5vw;
  display: inline-block;
}

.sets-won {
  font-size: 10vw;
}

.center {
  text-align: center;
}

.teamname {
  margin-top: 2%;
  font-size: 3vw;
  text-align: center;
}

.testing {
  display: flex;
  justify-content: center;
  text-align: center;
width:200%
}

.button-box {
  display: flex;
  margin-top: 2%;
  justify-content: space-between;
}

.reset-box {
  margin-top: 4%;
}

.button {
  background-color: grey;
  font-size: 5vw;
  align-content: center;
  border-radius: 15px;
  border-style: none;
  width: 25%;
}

.reset-button {
  background-color: grey;
  font-size: 2vw;
  align-content: center;
  border-radius: 15px;
  border-style: none;
}


.button:focus,
.reset-button:focus,
.setting-button:focus,
.coin-button:focus {
  outline: none;
}

.fa-angle-right,
.fa-angle-left,
.fa-caret-left,
.fa-caret-right {
  display: flex;
  justify-content: center;
  margin-top: 40%;
  font-size: 10vw;
}
/*------------------------------------------------------------- Modal General -------------------------------------------------------*/

.modal-background {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.modal-content {
  width: 30%;
  height: 30%;
  background-color: #ffffff;
  border-radius: 20px;
  border-style: none;
}

.modal-body {
  font-size: 1vw;
  display: flex;
  margin: 1rem;
  justify-content: center;
}
